In [2]:
import pandas as pd 
import numpy as np
cancer = pd.read_csv('HEALTH_STAT_03092020141011281.csv')
cancer.head()

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,CANCTOCA,Malignant neoplasms,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2002,2002,312.0,NaN,NaN
1,CANCTOCA,Malignant neoplasms,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2008,2008,314.1,NaN,NaN
2,CANCTOCA,Malignant neoplasms,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2012,2012,323.0,NaN,NaN
3,CANCCOLC,Malignant neoplasms of colon,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2002,2002,41.7,NaN,NaN
4,CANCCOLC,Malignant neoplasms of colon,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2008,2008,38.7,NaN,NaN

In [3]:
cancer.columns

Index(['VAR', 'Variable', 'UNIT', 'Measure', 'COU', 'Country', 'YEA', 'Year',
       'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [4]:
my_data=cancer[['Country','Variable','Year','Value']]

In [5]:
my_data

         Country                       Variable  Year   Value
0      Australia            Malignant neoplasms  2002   312.0
1      Australia            Malignant neoplasms  2008   314.1
2      Australia            Malignant neoplasms  2012   323.0
3      Australia   Malignant neoplasms of colon  2002    41.7
4      Australia   Malignant neoplasms of colon  2008    38.7
...          ...                            ...   ...     ...
2971    Colombia   Malignant neoplasms of colon  2012  5663.0
2972   Lithuania    Malignant neoplasms of lung  2012    26.2
2973   Lithuania   Malignant neoplasms of colon  2012    18.9
2974   Lithuania  Malignant neoplasms of cervix  2012   615.0
2975  Costa Rica    Malignant neoplasms of lung  2012     9.8

[2976 rows x 4 columns]

In [6]:
##      iloc   => IntegerLocations
##      cancer.iloc[0]
##      loc   =>     Labels

In [7]:
my_data.iloc[0]

Country               Australia
Variable    Malignant neoplasms
Year                       2002
Value                       312
Name: 0, dtype: object

In [8]:
my_data.loc[0]

Country               Australia
Variable    Malignant neoplasms
Year                       2002
Value                       312
Name: 0, dtype: object

In [9]:
my_data.loc[[0],'Value']

0    312.0
Name: Value, dtype: float64

In [10]:
my_data.shape  ## shows how many row and columns

(2976, 4)

In [11]:
cancer.columns

Index(['VAR', 'Variable', 'UNIT', 'Measure', 'COU', 'Country', 'YEA', 'Year',
       'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [12]:
my_data.set_index('Country')   ### Set index with custom value 

## my_data.set_index('Country', inplace=True) changes my_data

                                 Variable  Year   Value
Country
Australia             Malignant neoplasms  2002   312.0
Australia             Malignant neoplasms  2008   314.1
Australia             Malignant neoplasms  2012   323.0
Australia    Malignant neoplasms of colon  2002    41.7
Australia    Malignant neoplasms of colon  2008    38.7
...                                   ...   ...     ...
Colombia     Malignant neoplasms of colon  2012  5663.0
Lithuania     Malignant neoplasms of lung  2012    26.2
Lithuania    Malignant neoplasms of colon  2012    18.9
Lithuania   Malignant neoplasms of cervix  2012   615.0
Costa Rica    Malignant neoplasms of lung  2012     9.8

[2976 rows x 3 columns]

In [13]:
my_data.index

RangeIndex(start=0, stop=2976, step=1)

In [18]:
filt = (my_data['Country'] == 'Norway')

In [19]:
filt

0       False
1       False
2       False
3       False
4       False
        ...
2971    False
2972    False
2973    False
2974    False
2975    False
Name: Country, Length: 2976, dtype: bool

In [21]:
my_data[filt]

     Country                      Variable  Year   Value
213   Norway           Malignant neoplasms  2002   286.0
214   Norway           Malignant neoplasms  2008   297.9
215   Norway           Malignant neoplasms  2012   318.3
216   Norway  Malignant neoplasms of colon  2002    40.3
217   Norway  Malignant neoplasms of colon  2008    37.8
...      ...                           ...   ...     ...
2737  Norway  Malignant neoplasms of colon  2008  3512.0
2738  Norway  Malignant neoplasms of colon  2012  3913.0
2739  Norway   Malignant neoplasms of lung  2002  2043.0
2740  Norway   Malignant neoplasms of lung  2008  2612.0
2741  Norway   Malignant neoplasms of lung  2012  2845.0

[72 rows x 4 columns]

In [22]:
my_data.loc[filt]

     Country                      Variable  Year   Value
213   Norway           Malignant neoplasms  2002   286.0
214   Norway           Malignant neoplasms  2008   297.9
215   Norway           Malignant neoplasms  2012   318.3
216   Norway  Malignant neoplasms of colon  2002    40.3
217   Norway  Malignant neoplasms of colon  2008    37.8
...      ...                           ...   ...     ...
2737  Norway  Malignant neoplasms of colon  2008  3512.0
2738  Norway  Malignant neoplasms of colon  2012  3913.0
2739  Norway   Malignant neoplasms of lung  2002  2043.0
2740  Norway   Malignant neoplasms of lung  2008  2612.0
2741  Norway   Malignant neoplasms of lung  2012  2845.0

[72 rows x 4 columns]